body {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

.header {
	height: 80px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15%; 
}

.header__logo img {
	min-width: 100px;
	width: 100%;
	height: auto;
}

.menu__list {
	margin: 0;
	list-style-type: none;
	display: flex;
}

.menu__item {
	padding: 5px 15px; 
}

.menu__link {
	text-decoration: none;
	transition: color .25s ease;
	color: #555;
}

.menu__item.active .menu__link {
	color: #222;
}

.menu__item:hover .menu__link {
	color: #222;
}

.content {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: calc(100vh - 80px);
	text-align: center;
}

.content__title {
	font-size: 50px;
	opacity: .9;
}

.content__desc {
	opacity: .9;
}

.content__button {
	margin-top: 30px;
	color: #fff;
	transition: background-color .25s ease;
	border: 2px solid #4872F3;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 60px;
	background-color: transparent;
}

.content__button:hover {
	background-color: rgba(72, 114, 243,.2);
}

@media screen and (max-width: 768px) {
	.header {
		padding: 0 5%;
		flex-direction: column;
		justify-content: center;
	}

	.header__logo {
		margin-bottom: 15px;
	}

	.content__title {
		font-size: 36px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		padding: 0;
	}
}